@using ChatManager.Models;

@{
    int targetFriendId = ViewBag.TargetFriend;
    User currentUser = ViewBag.CurrentUser;
}


@if (targetFriendId != 0)
{
    User targetFriend = DB.Users.Get(targetFriendId);
    Message lastMessageSent = null;
    <div class="messagesHeader">
        <h4>Conversation avec </h4>
        <div class="userItem">
            <div class="UserMediumAvatar" style="background: url(@targetFriend.GetAvatarURL())"></div>
            <div class="ellipsis">@targetFriend.GetFullName(false)</div>
        </div>
    </div>

    foreach (Message message in ViewBag.CurrentConversation)
    {
        if (lastMessageSent == null || lastMessageSent.SendDate.AddMinutes(30) <= message.SendDate)
        {
            <div class="messageTime">
                @message.SendDate.ToLongDateString() - @message.SendDate.ToString("HH:mm")
            </div>
        }
        if (message.SenderId == targetFriend.Id)
        {
            <div class="receivedLayout">
                <div class="received" title="@message.SendDate.ToString("HH:mm")">
                    <span class="token"> @Helper.ParseContent(@message.TextMessage)</span>
                </div>
            </div>
        }
        else if (message.SenderId == currentUser.Id)
        {
            <div class="sentLayout">
                <div class="sent" title="@message.SendDate.ToString("HH:mm")" id="sent_@message.Id" utc="-4">

                    <span class="token">@Helper.ParseContent(@message.TextMessage)</span>


                </div>
            </div>

                    <div class="editMessage" id="edit_@message.Id" style="display: none;">

                    <input id="@message.Id" value="@message.TextMessage" class="sent form-control">
                    <span id="update_@message.Id" class="icon fa fa-check smallerIcon" title="Modifier ce message" data-placement="bottom">
                    </span>

                    <span id="delete_@message.Id" class="icon fa fa-times smallerIcon" title="Effacer ce message" data-placement="bottom">
                    </span>

                </div>
                <div class="receivedLayout" id="typing" style="display: none;">
                    <img src="/Content/UI-icons/typing1.gif" style="width:40px; border-radius:8px" class="received">
                </div>

        }

            lastMessageSent = message;
       
    }
    <div style="height:40px;">&nbsp;</div>
}
else
{
    <div class="messagesPanel" id="messagesPanel" title="Cliquez sur un de vos messages pour l'éditer...">
        <div class="messagesHeader">
            <h4>Sélectionner un ami... </h4>
        </div>
    </div>
}

