@model ChatManager.Models.Friendship
<br />
@foreach (var item in ViewBag.FilteredUser)
{
    <div class="friendContainer" style="font-size:14px;">
        <a href="mailto:@item.Email" title="Compte créé le @item.CreationDate">
            <div class="userItem">
                <div class="UserSmallAvatar" style="background: url(@item.GetAvatarURL())"></div>
                <div class="ellipsis">@item.GetFullName(false)</div>
            </div>
        </a>
        @if (ViewBag.LoggedUsersId.Contains(item.Id))
        {
            <img src="/Content/UI-icons/OnLine.png" class="small_icon">
        }
        else
        {
            <img src="/Content/UI-icons/OffLine.png" class="small_icon">
        }
        <span class="command icon fa green fa-plus-circle" url="/Friendships/SendFriendshipRequest/@item.Id" message="Envoyer une demande d'amitié à @item.GetFullName(false)" title="Envoyer une demande d'amitié à @item.GetFullName(false)"></span>
    </div>
}